<a href="https://colab.research.google.com/github/Kasper-Raupach-Haurum/M6-Data-Engineering-and-MLOps/blob/main/M6_Data_Engineering_and_MLOps_Assignment_2_Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Step 1 - Checking the dimensions of the dataset, examining the data types, and identifying missing values.**

In [2]:
!pip install polars --q

In [3]:
import pandas as pd

dfhr = pd.read_csv("/content/general_data.csv", encoding="ISO-8859-1")
dfhr.to_csv('general_data.csv', index=False)

In [4]:
import polars as pl

hrDF = pl.read_csv("/content/general_data.csv")
hrDF.head(5)

shape: (5, 24)
┌─────┬───────────┬────────────┬──────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ Age ┆ Attrition ┆ BusinessTr ┆ Departme ┆ … ┆ TrainingTi ┆ YearsAtCom ┆ YearsSince ┆ YearsWithC │
│ --- ┆ ---       ┆ avel       ┆ nt       ┆   ┆ mesLastYea ┆ pany       ┆ LastPromot ┆ urrManager │
│ i64 ┆ str       ┆ ---        ┆ ---      ┆   ┆ r          ┆ ---        ┆ ion        ┆ ---        │
│     ┆           ┆ str        ┆ str      ┆   ┆ ---        ┆ i64        ┆ ---        ┆ i64        │
│     ┆           ┆            ┆          ┆   ┆ i64        ┆            ┆ i64        ┆            │
╞═════╪═══════════╪════════════╪══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 51  ┆ No        ┆ Travel_Rar ┆ Sales    ┆ … ┆ 6          ┆ 1          ┆ 0          ┆ 0          │
│     ┆           ┆ ely        ┆          ┆   ┆            ┆            ┆            ┆            │
│ 31  ┆ Yes       ┆ Travel_Fre ┆ Research ┆ … ┆ 3          ┆ 5          ┆ 1          ┆ 4          │
│     ┆           ┆ quently    ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 32  ┆ No        ┆ Travel_Fre ┆ Research ┆ … ┆ 2          ┆ 5          ┆ 0          ┆ 3          │
│     ┆           ┆ quently    ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 38  ┆ No        ┆ Non-Travel ┆ Research ┆ … ┆ 5          ┆ 8          ┆ 7          ┆ 5          │
│     ┆           ┆            ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 32  ┆ No        ┆ Travel_Rar ┆ Research ┆ … ┆ 2          ┆ 6          ┆ 0          ┆ 4          │
│     ┆           ┆ ely        ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
└─────┴───────────┴────────────┴──────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [5]:
rowCount = hrDF.shape[0]
print("Total number of rows in the dataset:", rowCount)

Total number of rows in the dataset: 4410

In [6]:
hrDF.columns

['Age',
 'Attrition',
 'BusinessTravel',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeID',
 'Gender',
 'JobLevel',
 'JobRole',
 'MaritalStatus',
 'MonthlyIncome',
 'NumCompaniesWorked',
 'Over18',
 'PercentSalaryHike',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'YearsAtCompany',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

In [7]:
for col in hrDF.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

Age - 0
Attrition - 0
BusinessTravel - 0
Department - 0
DistanceFromHome - 0
Education - 0
EducationField - 0
EmployeeCount - 0
EmployeeID - 0
Gender - 0
JobLevel - 0
JobRole - 0
MaritalStatus - 0
MonthlyIncome - 0
NumCompaniesWorked - 19
Over18 - 0
PercentSalaryHike - 0
StandardHours - 0
StockOptionLevel - 0
TotalWorkingYears - 9
TrainingTimesLastYear - 0
YearsAtCompany - 0
YearsSinceLastPromotion - 0
YearsWithCurrManager - 0

In [8]:
avg_NumCompaniesWorked = hrDF['NumCompaniesWorked'].mean()
avg_TotalWorkingYears = hrDF['TotalWorkingYears'].mean()

In [9]:
# Fill in missing values with the mean values
hrDF = hrDF.with_column(pl.col('NumCompaniesWorked').fill_null(avg_NumCompaniesWorked).alias('NumCompaniesWorked'))
hrDF = hrDF.with_column(pl.col('TotalWorkingYears').fill_null(avg_TotalWorkingYears).alias('TotalWorkingYears'))

<ipython-input-9-ba84970bd47e>:2: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  hrDF = hrDF.with_column(pl.col('NumCompaniesWorked').fill_null(avg_NumCompaniesWorked).alias('NumCompaniesWorked'))
<ipython-input-9-ba84970bd47e>:3: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  hrDF = hrDF.with_column(pl.col('TotalWorkingYears').fill_null(avg_TotalWorkingYears).alias('TotalWorkingYears'))

In [10]:
for col in hrDF.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

Age - 0
Attrition - 0
BusinessTravel - 0
Department - 0
DistanceFromHome - 0
Education - 0
EducationField - 0
EmployeeCount - 0
EmployeeID - 0
Gender - 0
JobLevel - 0
JobRole - 0
MaritalStatus - 0
MonthlyIncome - 0
NumCompaniesWorked - 0
Over18 - 0
PercentSalaryHike - 0
StandardHours - 0
StockOptionLevel - 0
TotalWorkingYears - 0
TrainingTimesLastYear - 0
YearsAtCompany - 0
YearsSinceLastPromotion - 0
YearsWithCurrManager - 0

In [11]:
hrDF.dtypes

[Int64,
 Utf8,
 Utf8,
 Utf8,
 Int64,
 Int64,
 Utf8,
 Int64,
 Int64,
 Utf8,
 Int64,
 Utf8,
 Utf8,
 Int64,
 Float64,
 Utf8,
 Int64,
 Int64,
 Int64,
 Float64,
 Int64,
 Int64,
 Int64,
 Int64]

### **Step 2 - Filter the data to include only the relevant observations.**

In [12]:
hr_subset = hrDF.select(['Attrition', 'Department', 'NumCompaniesWorked'])
print(hr_subset.head())

shape: (5, 3)
┌───────────┬────────────────────────┬────────────────────┐
│ Attrition ┆ Department             ┆ NumCompaniesWorked │
│ ---       ┆ ---                    ┆ ---                │
│ str       ┆ str                    ┆ f64                │
╞═══════════╪════════════════════════╪════════════════════╡
│ No        ┆ Sales                  ┆ 1.0                │
│ Yes       ┆ Research & Development ┆ 0.0                │
│ No        ┆ Research & Development ┆ 1.0                │
│ No        ┆ Research & Development ┆ 3.0                │
│ No        ┆ Research & Development ┆ 4.0                │
└───────────┴────────────────────────┴────────────────────┘

In [13]:
avg_NumCompaniesWorked = hr_subset['NumCompaniesWorked'].mean()

In [14]:
# Fill in missing values with the mean values
hr_subset = hr_subset.with_column(pl.col('NumCompaniesWorked').fill_null(avg_NumCompaniesWorked).alias('NumCompaniesWorked'))

<ipython-input-14-cb6fd8abff03>:2: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  hr_subset = hr_subset.with_column(pl.col('NumCompaniesWorked').fill_null(avg_NumCompaniesWorked).alias('NumCompaniesWorked'))

In [15]:
for col in hr_subset.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

Attrition - 0
Department - 0
NumCompaniesWorked - 0

In [16]:
Without_Attrition = hr_subset.filter(pl.col('Attrition') == 'No')
print(Without_Attrition.head())

shape: (5, 3)
┌───────────┬────────────────────────┬────────────────────┐
│ Attrition ┆ Department             ┆ NumCompaniesWorked │
│ ---       ┆ ---                    ┆ ---                │
│ str       ┆ str                    ┆ f64                │
╞═══════════╪════════════════════════╪════════════════════╡
│ No        ┆ Sales                  ┆ 1.0                │
│ No        ┆ Research & Development ┆ 1.0                │
│ No        ┆ Research & Development ┆ 3.0                │
│ No        ┆ Research & Development ┆ 4.0                │
│ No        ┆ Research & Development ┆ 3.0                │
└───────────┴────────────────────────┴────────────────────┘

In [17]:
With_Attrition = hr_subset.filter(pl.col('Attrition') == 'Yes')
print(With_Attrition.head())

shape: (5, 3)
┌───────────┬────────────────────────┬────────────────────┐
│ Attrition ┆ Department             ┆ NumCompaniesWorked │
│ ---       ┆ ---                    ┆ ---                │
│ str       ┆ str                    ┆ f64                │
╞═══════════╪════════════════════════╪════════════════════╡
│ Yes       ┆ Research & Development ┆ 0.0                │
│ Yes       ┆ Research & Development ┆ 2.0                │
│ Yes       ┆ Research & Development ┆ 1.0                │
│ Yes       ┆ Research & Development ┆ 3.0                │
│ Yes       ┆ Research & Development ┆ 2.0                │
└───────────┴────────────────────────┴────────────────────┘

### **Step 3 - Aggregate the data to obtain summary statistics or metrics.**

In [18]:
uniqueDepartment = hr_subset['Department'].n_unique()
print("Number of unique values in the 'Department' column:", uniqueDepartment)

Number of unique values in the 'Department' column: 3

In [19]:
avg_experience_by_Dept = hr_subset.groupby('Department').mean()
avg_experience_by_Dept['NumCompaniesWorked']

shape: (3,)
Series: 'NumCompaniesWorked' [f64]
[
	2.040713
	2.585328
	2.788532
]

In [20]:
Exp_range_by_season = hr_subset.groupby('Department').agg([pl.col('NumCompaniesWorked').min().alias('Experience_min'), pl.col('NumCompaniesWorked').max().alias('Experience_max')])
Exp_range_by_season

shape: (3, 3)
┌────────────────────────┬────────────────┬────────────────┐
│ Department             ┆ Experience_min ┆ Experience_max │
│ ---                    ┆ ---            ┆ ---            │
│ str                    ┆ f64            ┆ f64            │
╞════════════════════════╪════════════════╪════════════════╡
│ Sales                  ┆ 0.0            ┆ 9.0            │
│ Human Resources        ┆ 0.0            ┆ 8.0            │
│ Research & Development ┆ 0.0            ┆ 9.0            │
└────────────────────────┴────────────────┴────────────────┘

In [21]:
avgExperiancePerAttrition = hr_subset.groupby('Attrition').agg(pl.col('NumCompaniesWorked').mean())
avgExperiancePerAttrition

shape: (2, 2)
┌───────────┬────────────────────┐
│ Attrition ┆ NumCompaniesWorked │
│ ---       ┆ ---                │
│ str       ┆ f64                │
╞═══════════╪════════════════════╡
│ Yes       ┆ 2.934992           │
│ No        ┆ 2.648668           │
└───────────┴────────────────────┘

In [22]:
Gender_Wise_Income = hrDF.groupby('Gender').agg(pl.col('MonthlyIncome').mean())
Gender_Wise_Income

shape: (2, 2)
┌────────┬───────────────┐
│ Gender ┆ MonthlyIncome │
│ ---    ┆ ---           │
│ str    ┆ f64           │
╞════════╪═══════════════╡
│ Male   ┆ 65318.684807  │
│ Female ┆ 64595.255102  │
└────────┴───────────────┘

In [23]:
avgIncomebyEducationField = hrDF.groupby('EducationField').agg(pl.col('MonthlyIncome').mean())
avgIncomebyEducationField

shape: (6, 2)
┌──────────────────┬───────────────┐
│ EducationField   ┆ MonthlyIncome │
│ ---              ┆ ---           │
│ str              ┆ f64           │
╞══════════════════╪═══════════════╡
│ Marketing        ┆ 59030.880503  │
│ Life Sciences    ┆ 65311.831683  │
│ Human Resources  ┆ 60452.962963  │
│ Technical Degree ┆ 64171.666667  │
│ Medical          ┆ 67096.724138  │
│ Other            ┆ 65761.463415  │
└──────────────────┴───────────────┘

In [24]:
avgSalaryHikeWiseAttrition = hrDF.groupby('Attrition').agg(pl.col('PercentSalaryHike').mean())
avgSalaryHikeWiseAttrition

shape: (2, 2)
┌───────────┬───────────────────┐
│ Attrition ┆ PercentSalaryHike │
│ ---       ┆ ---               │
│ str       ┆ f64               │
╞═══════════╪═══════════════════╡
│ No        ┆ 15.15734          │
│ Yes       ┆ 15.481013         │
└───────────┴───────────────────┘

In [25]:
Mode_Job_Role_Wise_YearAtCompany = hrDF.groupby('JobRole').agg(pl.col('YearsAtCompany').mode())
Mode_Job_Role_Wise_YearAtCompany

shape: (9, 2)
┌───────────────────────────┬────────────────┐
│ JobRole                   ┆ YearsAtCompany │
│ ---                       ┆ ---            │
│ str                       ┆ list[i64]      │
╞═══════════════════════════╪════════════════╡
│ Sales Representative      ┆ [5]            │
│ Research Director         ┆ [4, 5]         │
│ Research Scientist        ┆ [5]            │
│ Sales Executive           ┆ [5]            │
│ …                         ┆ …              │
│ Manufacturing Director    ┆ [5]            │
│ Laboratory Technician     ┆ [1]            │
│ Manager                   ┆ [1]            │
│ Healthcare Representative ┆ [5]            │
└───────────────────────────┴────────────────┘

In [26]:
Mode_MaritalStatus_YearAtCompany = hrDF.groupby('MaritalStatus').agg(pl.col('YearsAtCompany').mode())
Mode_MaritalStatus_YearAtCompany

shape: (3, 2)
┌───────────────┬────────────────┐
│ MaritalStatus ┆ YearsAtCompany │
│ ---           ┆ ---            │
│ str           ┆ list[i64]      │
╞═══════════════╪════════════════╡
│ Married       ┆ [5]            │
│ Single        ┆ [5]            │
│ Divorced      ┆ [5]            │
└───────────────┴────────────────┘

In [27]:
Mode_Attrition_YearAtCompany = hrDF.groupby('Attrition').agg(pl.col('YearsAtCompany').mode())
Mode_Attrition_YearAtCompany

shape: (2, 2)
┌───────────┬────────────────┐
│ Attrition ┆ YearsAtCompany │
│ ---       ┆ ---            │
│ str       ┆ list[i64]      │
╞═══════════╪════════════════╡
│ Yes       ┆ [1]            │
│ No        ┆ [5]            │
└───────────┴────────────────┘

### **Step 4 - Merging two tables using a common key.**

In [28]:
dfhr1 = pd.read_csv("/content/employee_survey_data.csv", encoding="ISO-8859-2")
dfhr1.to_csv('employee_survey_data.csv', index=False)

In [29]:
import polars as pl

hrDF1 = pl.read_csv("/content/employee_survey_data.csv")
hrDF1.head(5)

shape: (5, 4)
┌────────────┬─────────────────────────┬─────────────────┬─────────────────┐
│ EmployeeID ┆ EnvironmentSatisfaction ┆ JobSatisfaction ┆ WorkLifeBalance │
│ ---        ┆ ---                     ┆ ---             ┆ ---             │
│ i64        ┆ f64                     ┆ f64             ┆ f64             │
╞════════════╪═════════════════════════╪═════════════════╪═════════════════╡
│ 1          ┆ 3.0                     ┆ 4.0             ┆ 2.0             │
│ 2          ┆ 3.0                     ┆ 2.0             ┆ 4.0             │
│ 3          ┆ 2.0                     ┆ 2.0             ┆ 1.0             │
│ 4          ┆ 4.0                     ┆ 4.0             ┆ 3.0             │
│ 5          ┆ 4.0                     ┆ 1.0             ┆ 3.0             │
└────────────┴─────────────────────────┴─────────────────┴─────────────────┘

In [30]:
for col in hrDF1.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

EmployeeID - 0
EnvironmentSatisfaction - 25
JobSatisfaction - 20
WorkLifeBalance - 38

In [31]:
avg_EnvironmentSatisfaction = hrDF1['EnvironmentSatisfaction'].mean()
avg_JobSatisfaction = hrDF1['JobSatisfaction'].mean()
avg_WorkLifeBalance = hrDF1['WorkLifeBalance'].mean()

In [32]:
# Fill in missing values with the mean values
hrDF1 = hrDF1.with_column(pl.col('EnvironmentSatisfaction').fill_null(avg_EnvironmentSatisfaction).alias('EnvironmentSatisfaction'))
hrDF1 = hrDF1.with_column(pl.col('JobSatisfaction').fill_null(avg_JobSatisfaction).alias('JobSatisfaction'))
hrDF1 = hrDF1.with_column(pl.col('WorkLifeBalance').fill_null(avg_WorkLifeBalance).alias('WorkLifeBalance'))

<ipython-input-32-8bb882dc5076>:2: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  hrDF1 = hrDF1.with_column(pl.col('EnvironmentSatisfaction').fill_null(avg_EnvironmentSatisfaction).alias('EnvironmentSatisfaction'))
<ipython-input-32-8bb882dc5076>:3: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  hrDF1 = hrDF1.with_column(pl.col('JobSatisfaction').fill_null(avg_JobSatisfaction).alias('JobSatisfaction'))
<ipython-input-32-8bb882dc5076>:4: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  hrDF1 = hrDF1.with_column(pl.col('WorkLifeBalance').fill_null(avg_WorkLifeBalance).alias('WorkLifeBalance'))

In [33]:
for col in hrDF1.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

EmployeeID - 0
EnvironmentSatisfaction - 0
JobSatisfaction - 0
WorkLifeBalance - 0

In [34]:
df = hrDF.join(hrDF1, on="EmployeeID")

In [35]:
df.head(5)

shape: (5, 27)
┌─────┬───────────┬────────────┬──────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ Age ┆ Attrition ┆ BusinessTr ┆ Departme ┆ … ┆ YearsWithC ┆ Environmen ┆ JobSatisfa ┆ WorkLifeBa │
│ --- ┆ ---       ┆ avel       ┆ nt       ┆   ┆ urrManager ┆ tSatisfact ┆ ction      ┆ lance      │
│ i64 ┆ str       ┆ ---        ┆ ---      ┆   ┆ ---        ┆ ion        ┆ ---        ┆ ---        │
│     ┆           ┆ str        ┆ str      ┆   ┆ i64        ┆ ---        ┆ f64        ┆ f64        │
│     ┆           ┆            ┆          ┆   ┆            ┆ f64        ┆            ┆            │
╞═════╪═══════════╪════════════╪══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 51  ┆ No        ┆ Travel_Rar ┆ Sales    ┆ … ┆ 0          ┆ 3.0        ┆ 4.0        ┆ 2.0        │
│     ┆           ┆ ely        ┆          ┆   ┆            ┆            ┆            ┆            │
│ 31  ┆ Yes       ┆ Travel_Fre ┆ Research ┆ … ┆ 4          ┆ 3.0        ┆ 2.0        ┆ 4.0        │
│     ┆           ┆ quently    ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 32  ┆ No        ┆ Travel_Fre ┆ Research ┆ … ┆ 3          ┆ 2.0        ┆ 2.0        ┆ 1.0        │
│     ┆           ┆ quently    ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 38  ┆ No        ┆ Non-Travel ┆ Research ┆ … ┆ 5          ┆ 4.0        ┆ 4.0        ┆ 3.0        │
│     ┆           ┆            ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 32  ┆ No        ┆ Travel_Rar ┆ Research ┆ … ┆ 4          ┆ 4.0        ┆ 1.0        ┆ 3.0        │
│     ┆           ┆ ely        ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
└─────┴───────────┴────────────┴──────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [36]:
Avg_Gender_Wise_Job_Satisfaction = df.groupby('Gender').agg(pl.col('JobSatisfaction').mean())
Avg_Gender_Wise_Job_Satisfaction

shape: (2, 2)
┌────────┬─────────────────┐
│ Gender ┆ JobSatisfaction │
│ ---    ┆ ---             │
│ str    ┆ f64             │
╞════════╪═════════════════╡
│ Female ┆ 2.706971        │
│ Male   ┆ 2.742429        │
└────────┴─────────────────┘

In [37]:
Avg_Gender_Wise_Environmental_Satisfaction = df.groupby('Gender').agg(pl.col('EnvironmentSatisfaction').mean())
Avg_Gender_Wise_Environmental_Satisfaction

shape: (2, 2)
┌────────┬─────────────────────────┐
│ Gender ┆ EnvironmentSatisfaction │
│ ---    ┆ ---                     │
│ str    ┆ f64                     │
╞════════╪═════════════════════════╡
│ Male   ┆ 2.702475                │
│ Female ┆ 2.755296                │
└────────┴─────────────────────────┘

In [38]:
Avg_Gender_Wise_WorkLifeBalance = df.groupby('Gender').agg(pl.col('WorkLifeBalance').mean())
Avg_Gender_Wise_WorkLifeBalance

shape: (2, 2)
┌────────┬─────────────────┐
│ Gender ┆ WorkLifeBalance │
│ ---    ┆ ---             │
│ str    ┆ f64             │
╞════════╪═════════════════╡
│ Female ┆ 2.78949         │
│ Male   ┆ 2.742734        │
└────────┴─────────────────┘

In [39]:
Avg_Gender_Wise_Job_Satisfaction = df.groupby('Gender').agg(pl.col('JobSatisfaction').median())
Avg_Gender_Wise_Job_Satisfaction

shape: (2, 2)
┌────────┬─────────────────┐
│ Gender ┆ JobSatisfaction │
│ ---    ┆ ---             │
│ str    ┆ f64             │
╞════════╪═════════════════╡
│ Female ┆ 3.0             │
│ Male   ┆ 3.0             │
└────────┴─────────────────┘

In [40]:
Avg_Gender_Wise_Environmental_Satisfaction = df.groupby('Gender').agg(pl.col('EnvironmentSatisfaction').median())
Avg_Gender_Wise_Environmental_Satisfaction

shape: (2, 2)
┌────────┬─────────────────────────┐
│ Gender ┆ EnvironmentSatisfaction │
│ ---    ┆ ---                     │
│ str    ┆ f64                     │
╞════════╪═════════════════════════╡
│ Male   ┆ 3.0                     │
│ Female ┆ 3.0                     │
└────────┴─────────────────────────┘

In [41]:
Avg_Gender_Wise_WorkLifeBalance = df.groupby('Gender').agg(pl.col('WorkLifeBalance').median())
Avg_Gender_Wise_WorkLifeBalance

shape: (2, 2)
┌────────┬─────────────────┐
│ Gender ┆ WorkLifeBalance │
│ ---    ┆ ---             │
│ str    ┆ f64             │
╞════════╪═════════════════╡
│ Male   ┆ 3.0             │
│ Female ┆ 3.0             │
└────────┴─────────────────┘

In [42]:
Avg_Attrition_Wise_Job_Satisfaction = df.groupby('Attrition').agg(pl.col('JobSatisfaction').mean())
Avg_Attrition_Wise_Job_Satisfaction

shape: (2, 2)
┌───────────┬─────────────────┐
│ Attrition ┆ JobSatisfaction │
│ ---       ┆ ---             │
│ str       ┆ f64             │
╞═══════════╪═════════════════╡
│ Yes       ┆ 2.470785        │
│ No        ┆ 2.777734        │
└───────────┴─────────────────┘

In [43]:
Avg_Attrition_Wise_Environmental_Satisfaction = df.groupby('Attrition').agg(pl.col('EnvironmentSatisfaction').mean())
Avg_Attrition_Wise_Environmental_Satisfaction

shape: (2, 2)
┌───────────┬─────────────────────────┐
│ Attrition ┆ EnvironmentSatisfaction │
│ ---       ┆ ---                     │
│ str       ┆ f64                     │
╞═══════════╪═════════════════════════╡
│ No        ┆ 2.772228                │
│ Yes       ┆ 2.47063                 │
└───────────┴─────────────────────────┘

In [44]:
Avg_Attrition_Wise_WorkLifeBalance = df.groupby('Attrition').agg(pl.col('WorkLifeBalance').mean())
Avg_Attrition_Wise_WorkLifeBalance

shape: (2, 2)
┌───────────┬─────────────────┐
│ Attrition ┆ WorkLifeBalance │
│ ---       ┆ ---             │
│ str       ┆ f64             │
╞═══════════╪═════════════════╡
│ Yes       ┆ 2.661105        │
│ No        ┆ 2.780722        │
└───────────┴─────────────────┘

In [45]:
Avg_MaritalStatus_Wise_Job_Satisfaction = df.groupby('MaritalStatus').agg(pl.col('JobSatisfaction').mean())
Avg_MaritalStatus_Wise_Job_Satisfaction

shape: (3, 2)
┌───────────────┬─────────────────┐
│ MaritalStatus ┆ JobSatisfaction │
│ ---           ┆ ---             │
│ str           ┆ f64             │
╞═══════════════╪═════════════════╡
│ Married       ┆ 2.714716        │
│ Single        ┆ 2.768409        │
│ Divorced      ┆ 2.698367        │
└───────────────┴─────────────────┘

In [46]:
Avg_MaritalStatus_Wise_Environmental_Satisfaction = df.groupby('MaritalStatus').agg(pl.col('EnvironmentSatisfaction').mean())
Avg_MaritalStatus_Wise_Environmental_Satisfaction

shape: (3, 2)
┌───────────────┬─────────────────────────┐
│ MaritalStatus ┆ EnvironmentSatisfaction │
│ ---           ┆ ---                     │
│ str           ┆ f64                     │
╞═══════════════╪═════════════════════════╡
│ Married       ┆ 2.695015                │
│ Single        ┆ 2.738857                │
│ Divorced      ┆ 2.760515                │
└───────────────┴─────────────────────────┘

In [47]:
Avg_MaritalStatus_Wise_WorkLifeBalance = df.groupby('Attrition').agg(pl.col('WorkLifeBalance').mean())
Avg_MaritalStatus_Wise_WorkLifeBalance

shape: (2, 2)
┌───────────┬─────────────────┐
│ Attrition ┆ WorkLifeBalance │
│ ---       ┆ ---             │
│ str       ┆ f64             │
╞═══════════╪═════════════════╡
│ No        ┆ 2.780722        │
│ Yes       ┆ 2.661105        │
└───────────┴─────────────────┘

### **Step 5 - Visualize the data using either Apache Spark’s built-in plotting library or any other visualization tools.**

In [48]:
import matplotlib.pyplot as plt

In [50]:
import polars as pl
import plotly.express as px

px.line(x=Avg_MaritalStatus_Wise_WorkLifeBalance["Attrition"], y=Avg_MaritalStatus_Wise_WorkLifeBalance["WorkLifeBalance"])

In [52]:
px.bar(x=Avg_MaritalStatus_Wise_WorkLifeBalance["Attrition"], y=Avg_MaritalStatus_Wise_WorkLifeBalance["WorkLifeBalance"])