<a href="https://colab.research.google.com/github/Kasper-Raupach-Haurum/M6-Data-Engineering-and-MLOps/blob/main/M6_Data_Engineering_and_MLOps_Assignment_2_Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Step 1 - Checking the dimensions of the dataset, examining the data types, and identifying missing values.**

In [ ]:
!pip install polars --q

In [ ]:
import pandas as pd

dfhr = pd.read_csv("/content/general_data.csv", encoding="ISO-8859-1")
dfhr.to_csv('general_data.csv', index=False)

In [ ]:
import polars as pl

hrDF = pl.read_csv("/content/general_data.csv")
hrDF.head(5)

shape: (5, 24)
┌─────┬───────────┬────────────┬──────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ Age ┆ Attrition ┆ BusinessTr ┆ Departme ┆ … ┆ TrainingTi ┆ YearsAtCom ┆ YearsSince ┆ YearsWithC │
│ --- ┆ ---       ┆ avel       ┆ nt       ┆   ┆ mesLastYea ┆ pany       ┆ LastPromot ┆ urrManager │
│ i64 ┆ str       ┆ ---        ┆ ---      ┆   ┆ r          ┆ ---        ┆ ion        ┆ ---        │
│     ┆           ┆ str        ┆ str      ┆   ┆ ---        ┆ i64        ┆ ---        ┆ i64        │
│     ┆           ┆            ┆          ┆   ┆ i64        ┆            ┆ i64        ┆            │
╞═════╪═══════════╪════════════╪══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 51  ┆ No        ┆ Travel_Rar ┆ Sales    ┆ … ┆ 6          ┆ 1          ┆ 0          ┆ 0          │
│     ┆           ┆ ely        ┆          ┆   ┆            ┆            ┆            ┆            │
│ 31  ┆ Yes       ┆ Travel_Fre ┆ Research ┆ … ┆ 3          ┆ 5          ┆ 1          ┆ 4          │
│     ┆           ┆ quently    ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 32  ┆ No        ┆ Travel_Fre ┆ Research ┆ … ┆ 2          ┆ 5          ┆ 0          ┆ 3          │
│     ┆           ┆ quently    ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 38  ┆ No        ┆ Non-Travel ┆ Research ┆ … ┆ 5          ┆ 8          ┆ 7          ┆ 5          │
│     ┆           ┆            ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 32  ┆ No        ┆ Travel_Rar ┆ Research ┆ … ┆ 2          ┆ 6          ┆ 0          ┆ 4          │
│     ┆           ┆ ely        ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
└─────┴───────────┴────────────┴──────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [ ]:
rowCount = hrDF.shape[0]
print("Total number of rows in the dataset:", rowCount)

Total number of rows in the dataset: 4410

In [ ]:
hrDF.columns

['Age',
 'Attrition',
 'BusinessTravel',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeID',
 'Gender',
 'JobLevel',
 'JobRole',
 'MaritalStatus',
 'MonthlyIncome',
 'NumCompaniesWorked',
 'Over18',
 'PercentSalaryHike',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'YearsAtCompany',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

In [ ]:
for col in hrDF.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

Age - 0
Attrition - 0
BusinessTravel - 0
Department - 0
DistanceFromHome - 0
Education - 0
EducationField - 0
EmployeeCount - 0
EmployeeID - 0
Gender - 0
JobLevel - 0
JobRole - 0
MaritalStatus - 0
MonthlyIncome - 0
NumCompaniesWorked - 19
Over18 - 0
PercentSalaryHike - 0
StandardHours - 0
StockOptionLevel - 0
TotalWorkingYears - 9
TrainingTimesLastYear - 0
YearsAtCompany - 0
YearsSinceLastPromotion - 0
YearsWithCurrManager - 0

In [ ]:
avg_NumCompaniesWorked = hrDF['NumCompaniesWorked'].mean()
avg_TotalWorkingYears = hrDF['TotalWorkingYears'].mean()

In [ ]:
# Fill in missing values with the mean values
hrDF = hrDF.with_columns(pl.col('NumCompaniesWorked').fill_null(avg_NumCompaniesWorked).alias('NumCompaniesWorked'))
hrDF = hrDF.with_columns(pl.col('TotalWorkingYears').fill_null(avg_TotalWorkingYears).alias('TotalWorkingYears'))

In [ ]:
for col in hrDF.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

Age - 0
Attrition - 0
BusinessTravel - 0
Department - 0
DistanceFromHome - 0
Education - 0
EducationField - 0
EmployeeCount - 0
EmployeeID - 0
Gender - 0
JobLevel - 0
JobRole - 0
MaritalStatus - 0
MonthlyIncome - 0
NumCompaniesWorked - 0
Over18 - 0
PercentSalaryHike - 0
StandardHours - 0
StockOptionLevel - 0
TotalWorkingYears - 0
TrainingTimesLastYear - 0
YearsAtCompany - 0
YearsSinceLastPromotion - 0
YearsWithCurrManager - 0

In [ ]:
hrDF.dtypes

[Int64,
 Utf8,
 Utf8,
 Utf8,
 Int64,
 Int64,
 Utf8,
 Int64,
 Int64,
 Utf8,
 Int64,
 Utf8,
 Utf8,
 Int64,
 Float64,
 Utf8,
 Int64,
 Int64,
 Int64,
 Float64,
 Int64,
 Int64,
 Int64,
 Int64]

### **Step 2 - Filter the data to include only the relevant observations.**

In [ ]:
hr_subset = hrDF.select(['Attrition', 'Department', 'NumCompaniesWorked'])
print(hr_subset.head())

shape: (5, 3)
┌───────────┬────────────────────────┬────────────────────┐
│ Attrition ┆ Department             ┆ NumCompaniesWorked │
│ ---       ┆ ---                    ┆ ---                │
│ str       ┆ str                    ┆ f64                │
╞═══════════╪════════════════════════╪════════════════════╡
│ No        ┆ Sales                  ┆ 1.0                │
│ Yes       ┆ Research & Development ┆ 0.0                │
│ No        ┆ Research & Development ┆ 1.0                │
│ No        ┆ Research & Development ┆ 3.0                │
│ No        ┆ Research & Development ┆ 4.0                │
└───────────┴────────────────────────┴────────────────────┘

In [ ]:
avg_NumCompaniesWorked = hr_subset['NumCompaniesWorked'].mean()

In [ ]:
# Fill in missing values with the mean values
hr_subset = hr_subset.with_columns(pl.col('NumCompaniesWorked').fill_null(avg_NumCompaniesWorked).alias('NumCompaniesWorked'))

In [ ]:
for col in hr_subset.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

Attrition - 0
Department - 0
NumCompaniesWorked - 0

In [ ]:
Without_Attrition = hr_subset.filter(pl.col('Attrition') == 'No')
print(Without_Attrition.head())

shape: (5, 3)
┌───────────┬────────────────────────┬────────────────────┐
│ Attrition ┆ Department             ┆ NumCompaniesWorked │
│ ---       ┆ ---                    ┆ ---                │
│ str       ┆ str                    ┆ f64                │
╞═══════════╪════════════════════════╪════════════════════╡
│ No        ┆ Sales                  ┆ 1.0                │
│ No        ┆ Research & Development ┆ 1.0                │
│ No        ┆ Research & Development ┆ 3.0                │
│ No        ┆ Research & Development ┆ 4.0                │
│ No        ┆ Research & Development ┆ 3.0                │
└───────────┴────────────────────────┴────────────────────┘

In [ ]:
With_Attrition = hr_subset.filter(pl.col('Attrition') == 'Yes')
print(With_Attrition.head())

shape: (5, 3)
┌───────────┬────────────────────────┬────────────────────┐
│ Attrition ┆ Department             ┆ NumCompaniesWorked │
│ ---       ┆ ---                    ┆ ---                │
│ str       ┆ str                    ┆ f64                │
╞═══════════╪════════════════════════╪════════════════════╡
│ Yes       ┆ Research & Development ┆ 0.0                │
│ Yes       ┆ Research & Development ┆ 2.0                │
│ Yes       ┆ Research & Development ┆ 1.0                │
│ Yes       ┆ Research & Development ┆ 3.0                │
│ Yes       ┆ Research & Development ┆ 2.0                │
└───────────┴────────────────────────┴────────────────────┘

### **Step 3 - Aggregate the data to obtain summary statistics or metrics.**

In [ ]:
uniqueDepartment = hr_subset['Department'].n_unique()
print("Number of unique values in the 'Department' column:", uniqueDepartment)

Number of unique values in the 'Department' column: 3

In [ ]:
avg_experience_by_Dept = hr_subset.groupby('Department').mean()
avg_experience_by_Dept['NumCompaniesWorked']

shape: (3,)
Series: 'NumCompaniesWorked' [f64]
[
	2.585328
	2.040713
	2.788532
]

In [ ]:
Exp_range_by_season = hr_subset.groupby('Department').agg([pl.col('NumCompaniesWorked').min().alias('Experience_min'), pl.col('NumCompaniesWorked').max().alias('Experience_max')])
Exp_range_by_season

shape: (3, 3)
┌────────────────────────┬────────────────┬────────────────┐
│ Department             ┆ Experience_min ┆ Experience_max │
│ ---                    ┆ ---            ┆ ---            │
│ str                    ┆ f64            ┆ f64            │
╞════════════════════════╪════════════════╪════════════════╡
│ Human Resources        ┆ 0.0            ┆ 8.0            │
│ Sales                  ┆ 0.0            ┆ 9.0            │
│ Research & Development ┆ 0.0            ┆ 9.0            │
└────────────────────────┴────────────────┴────────────────┘

In [ ]:
avgExperiancePerAttrition = hr_subset.groupby('Attrition').agg(pl.col('NumCompaniesWorked').mean())
avgExperiancePerAttrition

shape: (2, 2)
┌───────────┬────────────────────┐
│ Attrition ┆ NumCompaniesWorked │
│ ---       ┆ ---                │
│ str       ┆ f64                │
╞═══════════╪════════════════════╡
│ No        ┆ 2.648668           │
│ Yes       ┆ 2.934992           │
└───────────┴────────────────────┘

In [ ]:
Gender_Wise_Income = hrDF.groupby('Gender').agg(pl.col('MonthlyIncome').mean())
Gender_Wise_Income

shape: (2, 2)
┌────────┬───────────────┐
│ Gender ┆ MonthlyIncome │
│ ---    ┆ ---           │
│ str    ┆ f64           │
╞════════╪═══════════════╡
│ Female ┆ 64595.255102  │
│ Male   ┆ 65318.684807  │
└────────┴───────────────┘

In [ ]:
avgIncomebyEducationField = hrDF.groupby('EducationField').agg(pl.col('MonthlyIncome').mean())
avgIncomebyEducationField

shape: (6, 2)
┌──────────────────┬───────────────┐
│ EducationField   ┆ MonthlyIncome │
│ ---              ┆ ---           │
│ str              ┆ f64           │
╞══════════════════╪═══════════════╡
│ Medical          ┆ 67096.724138  │
│ Technical Degree ┆ 64171.666667  │
│ Life Sciences    ┆ 65311.831683  │
│ Marketing        ┆ 59030.880503  │
│ Other            ┆ 65761.463415  │
│ Human Resources  ┆ 60452.962963  │
└──────────────────┴───────────────┘

In [ ]:
avgSalaryHikeWiseAttrition = hrDF.groupby('Attrition').agg(pl.col('PercentSalaryHike').mean())
avgSalaryHikeWiseAttrition

shape: (2, 2)
┌───────────┬───────────────────┐
│ Attrition ┆ PercentSalaryHike │
│ ---       ┆ ---               │
│ str       ┆ f64               │
╞═══════════╪═══════════════════╡
│ No        ┆ 15.15734          │
│ Yes       ┆ 15.481013         │
└───────────┴───────────────────┘

In [ ]:
Mode_Job_Role_Wise_YearAtCompany = hrDF.groupby('JobRole').agg(pl.col('YearsAtCompany').mode())
Mode_Job_Role_Wise_YearAtCompany

shape: (9, 2)
┌───────────────────────────┬────────────────┐
│ JobRole                   ┆ YearsAtCompany │
│ ---                       ┆ ---            │
│ str                       ┆ list[i64]      │
╞═══════════════════════════╪════════════════╡
│ Healthcare Representative ┆ [5]            │
│ Sales Executive           ┆ [5]            │
│ Human Resources           ┆ [5]            │
│ Research Scientist        ┆ [5]            │
│ Research Director         ┆ [4, 5]         │
│ Manufacturing Director    ┆ [5]            │
│ Manager                   ┆ [1]            │
│ Sales Representative      ┆ [5]            │
│ Laboratory Technician     ┆ [1]            │
└───────────────────────────┴────────────────┘

In [ ]:
Mode_MaritalStatus_YearAtCompany = hrDF.groupby('MaritalStatus').agg(pl.col('YearsAtCompany').mode())
Mode_MaritalStatus_YearAtCompany

shape: (3, 2)
┌───────────────┬────────────────┐
│ MaritalStatus ┆ YearsAtCompany │
│ ---           ┆ ---            │
│ str           ┆ list[i64]      │
╞═══════════════╪════════════════╡
│ Single        ┆ [5]            │
│ Divorced      ┆ [5]            │
│ Married       ┆ [5]            │
└───────────────┴────────────────┘

In [ ]:
Mode_Attrition_YearAtCompany = hrDF.groupby('Attrition').agg(pl.col('YearsAtCompany').mode())
Mode_Attrition_YearAtCompany

shape: (2, 2)
┌───────────┬────────────────┐
│ Attrition ┆ YearsAtCompany │
│ ---       ┆ ---            │
│ str       ┆ list[i64]      │
╞═══════════╪════════════════╡
│ No        ┆ [5]            │
│ Yes       ┆ [1]            │
└───────────┴────────────────┘

### **Step 4 - Merging two tables using a common key.**

In [ ]:
dfhr1 = pd.read_csv("/content/employee_survey_data.csv", encoding="ISO-8859-2")
dfhr1.to_csv('employee_survey_data.csv', index=False)

In [ ]:
import polars as pl

hrDF1 = pl.read_csv("/content/employee_survey_data.csv")
hrDF1.head(5)

shape: (5, 4)
┌────────────┬─────────────────────────┬─────────────────┬─────────────────┐
│ EmployeeID ┆ EnvironmentSatisfaction ┆ JobSatisfaction ┆ WorkLifeBalance │
│ ---        ┆ ---                     ┆ ---             ┆ ---             │
│ i64        ┆ f64                     ┆ f64             ┆ f64             │
╞════════════╪═════════════════════════╪═════════════════╪═════════════════╡
│ 1          ┆ 3.0                     ┆ 4.0             ┆ 2.0             │
│ 2          ┆ 3.0                     ┆ 2.0             ┆ 4.0             │
│ 3          ┆ 2.0                     ┆ 2.0             ┆ 1.0             │
│ 4          ┆ 4.0                     ┆ 4.0             ┆ 3.0             │
│ 5          ┆ 4.0                     ┆ 1.0             ┆ 3.0             │
└────────────┴─────────────────────────┴─────────────────┴─────────────────┘

In [ ]:
for col in hrDF1.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

EmployeeID - 0
EnvironmentSatisfaction - 25
JobSatisfaction - 20
WorkLifeBalance - 38

In [ ]:
avg_EnvironmentSatisfaction = hrDF1['EnvironmentSatisfaction'].mean()
avg_JobSatisfaction = hrDF1['JobSatisfaction'].mean()
avg_WorkLifeBalance = hrDF1['WorkLifeBalance'].mean()

In [ ]:
# Fill in missing values with the mean values
hrDF1 = hrDF1.with_columns(pl.col('EnvironmentSatisfaction').fill_null(avg_EnvironmentSatisfaction).alias('EnvironmentSatisfaction'))
hrDF1 = hrDF1.with_columns(pl.col('JobSatisfaction').fill_null(avg_JobSatisfaction).alias('JobSatisfaction'))
hrDF1 = hrDF1.with_columns(pl.col('WorkLifeBalance').fill_null(avg_WorkLifeBalance).alias('WorkLifeBalance'))

In [ ]:
for col in hrDF1.get_columns():
    print(f'{col.name} - {col.is_null().sum()}')

EmployeeID - 0
EnvironmentSatisfaction - 0
JobSatisfaction - 0
WorkLifeBalance - 0

In [ ]:
df = hrDF.join(hrDF1, on="EmployeeID")

In [ ]:
df.head(5)

shape: (5, 27)
┌─────┬───────────┬────────────┬──────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ Age ┆ Attrition ┆ BusinessTr ┆ Departme ┆ … ┆ YearsWithC ┆ Environmen ┆ JobSatisfa ┆ WorkLifeBa │
│ --- ┆ ---       ┆ avel       ┆ nt       ┆   ┆ urrManager ┆ tSatisfact ┆ ction      ┆ lance      │
│ i64 ┆ str       ┆ ---        ┆ ---      ┆   ┆ ---        ┆ ion        ┆ ---        ┆ ---        │
│     ┆           ┆ str        ┆ str      ┆   ┆ i64        ┆ ---        ┆ f64        ┆ f64        │
│     ┆           ┆            ┆          ┆   ┆            ┆ f64        ┆            ┆            │
╞═════╪═══════════╪════════════╪══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 51  ┆ No        ┆ Travel_Rar ┆ Sales    ┆ … ┆ 0          ┆ 3.0        ┆ 4.0        ┆ 2.0        │
│     ┆           ┆ ely        ┆          ┆   ┆            ┆            ┆            ┆            │
│ 31  ┆ Yes       ┆ Travel_Fre ┆ Research ┆ … ┆ 4          ┆ 3.0        ┆ 2.0        ┆ 4.0        │
│     ┆           ┆ quently    ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 32  ┆ No        ┆ Travel_Fre ┆ Research ┆ … ┆ 3          ┆ 2.0        ┆ 2.0        ┆ 1.0        │
│     ┆           ┆ quently    ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 38  ┆ No        ┆ Non-Travel ┆ Research ┆ … ┆ 5          ┆ 4.0        ┆ 4.0        ┆ 3.0        │
│     ┆           ┆            ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
│ 32  ┆ No        ┆ Travel_Rar ┆ Research ┆ … ┆ 4          ┆ 4.0        ┆ 1.0        ┆ 3.0        │
│     ┆           ┆ ely        ┆ & Develo ┆   ┆            ┆            ┆            ┆            │
│     ┆           ┆            ┆ pment    ┆   ┆            ┆            ┆            ┆            │
└─────┴───────────┴────────────┴──────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [ ]:
Avg_Gender_Wise_Job_Satisfaction = df.groupby('Gender').agg(pl.col('JobSatisfaction').mean())
Avg_Gender_Wise_Job_Satisfaction

shape: (2, 2)
┌────────┬─────────────────┐
│ Gender ┆ JobSatisfaction │
│ ---    ┆ ---             │
│ str    ┆ f64             │
╞════════╪═════════════════╡
│ Male   ┆ 2.742429        │
│ Female ┆ 2.706971        │
└────────┴─────────────────┘

In [ ]:
Avg_Gender_Wise_Environmental_Satisfaction = df.groupby('Gender').agg(pl.col('EnvironmentSatisfaction').mean())
Avg_Gender_Wise_Environmental_Satisfaction

shape: (2, 2)
┌────────┬─────────────────────────┐
│ Gender ┆ EnvironmentSatisfaction │
│ ---    ┆ ---                     │
│ str    ┆ f64                     │
╞════════╪═════════════════════════╡
│ Female ┆ 2.755296                │
│ Male   ┆ 2.702475                │
└────────┴─────────────────────────┘

In [ ]:
Avg_Gender_Wise_WorkLifeBalance = df.groupby('Gender').agg(pl.col('WorkLifeBalance').mean())
Avg_Gender_Wise_WorkLifeBalance

shape: (2, 2)
┌────────┬─────────────────┐
│ Gender ┆ WorkLifeBalance │
│ ---    ┆ ---             │
│ str    ┆ f64             │
╞════════╪═════════════════╡
│ Male   ┆ 2.742734        │
│ Female ┆ 2.78949         │
└────────┴─────────────────┘

In [ ]:
Avg_Gender_Wise_Job_Satisfaction = df.groupby('Gender').agg(pl.col('JobSatisfaction').median())
Avg_Gender_Wise_Job_Satisfaction

shape: (2, 2)
┌────────┬─────────────────┐
│ Gender ┆ JobSatisfaction │
│ ---    ┆ ---             │
│ str    ┆ f64             │
╞════════╪═════════════════╡
│ Male   ┆ 3.0             │
│ Female ┆ 3.0             │
└────────┴─────────────────┘

In [ ]:
Avg_Gender_Wise_Environmental_Satisfaction = df.groupby('Gender').agg(pl.col('EnvironmentSatisfaction').median())
Avg_Gender_Wise_Environmental_Satisfaction

shape: (2, 2)
┌────────┬─────────────────────────┐
│ Gender ┆ EnvironmentSatisfaction │
│ ---    ┆ ---                     │
│ str    ┆ f64                     │
╞════════╪═════════════════════════╡
│ Female ┆ 3.0                     │
│ Male   ┆ 3.0                     │
└────────┴─────────────────────────┘

In [ ]:
Avg_Gender_Wise_WorkLifeBalance = df.groupby('Gender').agg(pl.col('WorkLifeBalance').median())
Avg_Gender_Wise_WorkLifeBalance

shape: (2, 2)
┌────────┬─────────────────┐
│ Gender ┆ WorkLifeBalance │
│ ---    ┆ ---             │
│ str    ┆ f64             │
╞════════╪═════════════════╡
│ Female ┆ 3.0             │
│ Male   ┆ 3.0             │
└────────┴─────────────────┘

In [ ]:
Avg_Attrition_Wise_Job_Satisfaction = df.groupby('Attrition').agg(pl.col('JobSatisfaction').mean())
Avg_Attrition_Wise_Job_Satisfaction

shape: (2, 2)
┌───────────┬─────────────────┐
│ Attrition ┆ JobSatisfaction │
│ ---       ┆ ---             │
│ str       ┆ f64             │
╞═══════════╪═════════════════╡
│ Yes       ┆ 2.470785        │
│ No        ┆ 2.777734        │
└───────────┴─────────────────┘

In [ ]:
Avg_Attrition_Wise_Environmental_Satisfaction = df.groupby('Attrition').agg(pl.col('EnvironmentSatisfaction').mean())
Avg_Attrition_Wise_Environmental_Satisfaction

shape: (2, 2)
┌───────────┬─────────────────────────┐
│ Attrition ┆ EnvironmentSatisfaction │
│ ---       ┆ ---                     │
│ str       ┆ f64                     │
╞═══════════╪═════════════════════════╡
│ No        ┆ 2.772228                │
│ Yes       ┆ 2.47063                 │
└───────────┴─────────────────────────┘

In [ ]:
Avg_Attrition_Wise_WorkLifeBalance = df.groupby('Attrition').agg(pl.col('WorkLifeBalance').mean())
Avg_Attrition_Wise_WorkLifeBalance

shape: (2, 2)
┌───────────┬─────────────────┐
│ Attrition ┆ WorkLifeBalance │
│ ---       ┆ ---             │
│ str       ┆ f64             │
╞═══════════╪═════════════════╡
│ Yes       ┆ 2.661105        │
│ No        ┆ 2.780722        │
└───────────┴─────────────────┘

In [ ]:
Avg_MaritalStatus_Wise_Job_Satisfaction = df.groupby('MaritalStatus').agg(pl.col('JobSatisfaction').mean())
Avg_MaritalStatus_Wise_Job_Satisfaction

shape: (3, 2)
┌───────────────┬─────────────────┐
│ MaritalStatus ┆ JobSatisfaction │
│ ---           ┆ ---             │
│ str           ┆ f64             │
╞═══════════════╪═════════════════╡
│ Divorced      ┆ 2.698367        │
│ Single        ┆ 2.768409        │
│ Married       ┆ 2.714716        │
└───────────────┴─────────────────┘

In [ ]:
Avg_MaritalStatus_Wise_Environmental_Satisfaction = df.groupby('MaritalStatus').agg(pl.col('EnvironmentSatisfaction').mean())
Avg_MaritalStatus_Wise_Environmental_Satisfaction

shape: (3, 2)
┌───────────────┬─────────────────────────┐
│ MaritalStatus ┆ EnvironmentSatisfaction │
│ ---           ┆ ---                     │
│ str           ┆ f64                     │
╞═══════════════╪═════════════════════════╡
│ Divorced      ┆ 2.760515                │
│ Single        ┆ 2.738857                │
│ Married       ┆ 2.695015                │
└───────────────┴─────────────────────────┘

In [ ]:
Avg_MaritalStatus_Wise_WorkLifeBalance = df.groupby('Attrition').agg(pl.col('WorkLifeBalance').mean())
Avg_MaritalStatus_Wise_WorkLifeBalance

shape: (2, 2)
┌───────────┬─────────────────┐
│ Attrition ┆ WorkLifeBalance │
│ ---       ┆ ---             │
│ str       ┆ f64             │
╞═══════════╪═════════════════╡
│ No        ┆ 2.780722        │
│ Yes       ┆ 2.661105        │
└───────────┴─────────────────┘

### **Step 5 - Visualize the data using either Apache Spark’s built-in plotting library or any other visualization tools.**

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import polars as pl
import plotly.express as px

px.line(x=Avg_MaritalStatus_Wise_WorkLifeBalance["Attrition"], y=Avg_MaritalStatus_Wise_WorkLifeBalance["WorkLifeBalance"])

In [ ]:
px.bar(x=Avg_MaritalStatus_Wise_WorkLifeBalance["Attrition"], y=Avg_MaritalStatus_Wise_WorkLifeBalance["WorkLifeBalance"])